*{
  color:white;
	font-style:italic;
	font-size:14px;
	font-family:Verdana,Arial,Sans-serif;
}
body{
  background-color:black;
}
header,section,footer{
  text-align:center;
}
input{
  font-weight:bold;
  color:black;
  background-color:red;
}
h1{
  font-size:3em;
}
table{
  margin-left:auto;
  margin-right:auto;
}
table>tbody>tr>td,table>thead>tr>th{
  text-align:left;
  vertical-align:top;
  border:2px solid white;
}
table>tbody>tr>td>table.test{
  display:none;
}
table>tbody>tr>td:hover>table.test{
  display:block;
  position:absolute;
  margin-left:-300px;
}
table>tbody>tr>td:last-child{
  width:210px;
}
table>tbody>tr>td:hover>table.test>tbody>tr>td{
  background-color:black;
  width:350px;
}
table>tbody>tr>td:hover>table.test>tbody>tr>td>p:first-child{
  float:left;
  white-space: nowrap;
  width:50%;
}
table>tbody>tr>td:hover>table.test>tbody>tr>td>p:nth-child(2){
  float:right;
  padding-right:5px;
  white-space: nowrap;
}
table>tbody>tr>td>ul.options{
  display:none;
  width:210px;
}
table>tbody>tr>td:hover>ul.options{
  display:block;
  position:absolute;
  margin:0px;
  margin-left:210px;
  margin-top:-50px;
  list-style:none;
  text-align:center;
  padding:0px;
  overflow:hidden;
  background-color:black;
}
button{
  cursor:pointer;
  background-color:grey;
}
button:hover{
  cursor:pointer;
  background-color:red;
}
li>a>button{
  cursor:pointer;
  background-color:grey;
}
div.page_move{
  overflow:hidden;
  width:500px;
  margin-left:auto;
  margin-right:auto;
}
div.page_move>a:first-child{
  float:left;
}
div.page_move>a:last-child{
  float:right;
}